#WorkSpace{width: 768px; height: 1024px; background: white  url(../../Common/Images/DocumentWF/bg2.png)  0 0;padding: 0px;border: 1px solid #CCC;-moz-border-radius: 5px;-webkit-border-radius: 5px; -webkit-box-shadow: 5px 5px 5px #CCC;-moz-box-shadow: 0 0 5px 5px #CCC;}
#WorkSpaceView{width: 768px; height: 1024px; background: white;padding: 0px;border: 1px solid #CCC;-moz-border-radius: 5px;-webkit-border-radius: 5px; -webkit-box-shadow: 5px 5px 5px #CCC;-moz-box-shadow: 0 0 5px 5px #CCC;}
.ta,.lbl ,.tb ,.cb ,.rb ,.ln ,.frm ,.rtc ,.ddl{float:left;position:relative;margin-left:0px }	
.lbl,.tb ,.rtc ,.ddl{width:110px;height:20px}
.cb ,.rb {width:18px;height:18px}	
.ta{width:200px;height:40px;}	
.ln{width:300px;height:2px;background-color:Black;}	
.frm{width:200px;height:200px;background-color:Transparent;border:2px solid gray;}	
.ddel{position:absolute;background-color:#ccc;z-index:999}
.dmov{position:absolute;background-color:#ccc;}
.idel{position:absolute;background-color:#ccc;z-index:999;width:20px;height:20px}
.imov{position:absolute;background-color:#ccc;z-index:999;width:20px;height:20px}
.lbl{background-color:White;border:0px;}
        BODY
        {
            font-size: 12px;
            font-family: Tahoma;
            color: #3B3B3B;
        }
        
        A
        {
            color: #5E5E5E;
            text-decoration: underline;
        }
        
        A:hover
        {
            color: #E5660B;
        }
        
        BUTTON, INPUT[TYPE=SUBMIT]
        {
            background: #C4D3F1;
            border: 1px solid #777;
            font-size: 11px;
            padding: 5px;
        }
        
        INPUT[type=text]
        {
            font-size: 11px;
        }
        
        .OfficeWebUI_Chrome_Panel
        {
            border: 1px solid #A5ACB5;
            background: #fff;
            padding: 4px;
            margin: 4px;
        }
        
        .OfficeWebUI_Chrome_Table TD
        {
            padding: 2px 4px 2px 4px;
        }
