.window {
	padding: 0.5em; border-radius: 0.5em; border: 1px solid rgb(52, 103, 137); width: 5em; height: 5em; text-align: center; color: black; line-height: 5em; font-family: helvetica; font-size: 0.9em; filter: alpha(opacity=80); position: absolute; z-index: 20; opacity: 0.8; box-shadow: 2px 2px 19px #aaa; background-color: rgb(238, 238, 239); -o-box-shadow: 2px 2px 19px #aaa; -webkit-box-shadow: 2px 2px 19px #aaa; -moz-box-shadow: 2px 2px 19px #aaa; -moz-border-radius: 0.5em;
}
.window:hover {
	filter: alpha(opacity=60); opacity: 0.6; box-shadow: 2px 2px 19px #444; -o-box-shadow: 2px 2px 19px #444; -webkit-box-shadow: 2px 2px 19px #444; -moz-box-shadow: 2px 2px 19px #444;
}
.active {
	border: 1px dotted green;
}
.hover {
	border: 1px dotted red;
}
._jsPlumb_connector {
	z-index: 4;
}
._jsPlumb_endpoint {
	z-index: 21; cursor: pointer;
}
.hl {
	border: 3px solid red;
}
#debug {
	color: red; position: absolute; z-index: 5000; background-color: black;
}
.aLabel {
	font: 12px/normal sans-serif; padding: 0.4em; border: 1px dotted gray; color: rgb(68, 68, 68); filter: alpha(opacity=80); z-index: 21; font-size-adjust: none; font-stretch: normal; opacity: 0.8; background-color: white;
}
