<configuration>
	<appSettings>
    <add key="" value="Data Source=DESKTOP-DBL395G\MSSQLSERVER01;database=HR_LTAC_MED_VenusNet_Payroll;User ID=sa;password=12345 ;Trusted_Connection=True"/>
		<add key="Connstring" value="data source=DESKTOP-DBL395G\MSSQLSERVER01;initial catalog=HR_LTAC_MED_VenusNet_Payroll;user id=sa;password=12345 ;"/>
    <add key="" value="Data Source=DESKTOP-DBL395G\MSSQLSERVER01;database=HR_LTAC_MED_VenusNet_Payroll;User ID=sa;password=12345 ;Trusted_Connection=True"/>
		<add key="Connstring" value="data source=DESKTOP-DBL395G\MSSQLSERVER01;initial catalog=HR_LTAC_MED_VenusNet_Payroll;user id=sa;password=12345 ;"/>

		<!--<add key="" value="Data Source=10.90.44.14;database=HR_LTAC_MED_VenusNet_Payroll;User ID=sa;password=NECP@ssw0rd
;Trusted_Connection=True"/>
	<add key="Connstring" value="data source=10.90.44.14;initial catalog=HR_LTAC_MED_VenusNet_Payroll;user id=sa;password=NECP@ssw0rd
;"/>-->
		<add key="DATEFORMAT" value="dd/MM/yyyy"/>
		<add key="SessionTime" value="180"/>
		<add key="CompanyHeader_1" value="DataOcean"/>
		<add key="CompanyHeader_2" value="DataOcean1"/>
		<add key="CompanyHeader_3" value="DataOcean2"/>
		<!--Send E-Mail configuration-->
		<add key="SMTPHost" value="eu-smtp-inbound-1.mimecast.com"/>
		<add key="SMTPPort" value="587"/>
		<add key="SMTPUsername" value="hr_notification@amadhospital.com"/>
		<add key="SMTPPassword" value="Hr@Lt@c1234"/>
		<add key="SMTPFrom" value="hr_notification@amadhospital.com"/>

		<!--End of Send E-Mail configuration-->


		<!--<add key="StimulsoftLicenseKey" value="6vJhGtLLLz2GNviWmUTrhSqnOItdDwjBylQzQcAOiHlF8TnL+uTtueY1gjRhZYLgJGlx0ixZK92QrhRR8dDfXbN6Dh4ZFXjE4nwQa7egJF/PqwdSa/tsOFX2XQsg9inrN08Ben/rnscJRAFK8kuGwsIv2Qj5Xp06cekX9dQVIin8MHuZAIEPf2ygob8tYgWucWALNtskDCyvxWwlwxsSebcHVAfXkpEqksOgCztLnc93rp2VKc+y9ZJB+r+Z4j9q8hngYkMJrw1L16EIPSOkHJQ2lryZ7UIOzLc1yB4ZDSdxlfPvCMvFVloKyngMjxxNtdVt+nArqjHCDo4A4y8c5E5Vhj7yKtu9mGKSLHUyu1okqotmIPqdSyWcVNo29jOaCC05pqmatPmVkR+7PUsl2YfvmoNqVnVEL7169GRGf6nZ4xos0zY7wSi7lqdaWwZUi5FK3sP4Qz7t8dxnOo2RuV3pUGPC3EcTKIwiu4qCpE8GBIcBq8gHhUPBq5A/XR5EqmM4McFYViOb57Pnx09qBVWA/n0Jzlp1bIOf+NyPUMdjaAsXZWw3KB8r7PMjDd8V" />-->

		<add key="ApplicationURL" value="http://localhost/Site"/>
		<add key="WFModule" value="6"/>
		<add key="RecModuleMenuID" value="11"/>
		<add key="EvalModuleMenuID" value="10"/>
		<add key="GuestGroup" value="3"/>
		<!--Web=1/Win=0-->
		<add key="PostingStatus" value="0"/>
		<add key="AttendaceFilterDefaultValue" value="0"/>
		<add key="AllowZero" value="0"/>
		<!--Yes=1/No=0/Minus=-1-->
		<!--To Set Various Kinds of WSP Sheets 1=NMK Style,0=StandardStyle,2=WAM Style 3=suadi holandy 5=Ahly 7=araby 9=Alinma 10=alrajhi-->
		<add key="WPSystem" value="3"/>
		<add key="Overtime" value="1"/>
		<add key="FileType" value="8"/>
		<!-- CSV File =1 , NMK File=2 ,Elkhiriji Excel=3 , Carlo =4 ,ExcelTotal=5-->
		<!--Add over time from overtime new method form -->
		<add key="ResDefaultsValues" value="2|2|9|35|2|36"/>
		<!--The Defaults Values That Needed On Reciption Recruitement Form 1-Department,2-CType,3-Class,4-Grade,5-Profession,6-Currency-->

		<!--WPS TextFile header Variables -->

		<add key="FRNo" value="SASABBGSAX01135276"/>
		<add key="BatchID" value="2WPS"/>
		<add key="TrnfrTyp" value="ACH-CR"/>
		<add key="FileName" value="LTAC"/>
		<add key="BankAcc" value="041009234003"/>
		<add key="EmployerID" value="LTAC,1-2838097,1010939464"/>
		<add key="VRFRfNo" value="V22"/>
	</appSettings>
	<!--
		For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

		The following attributes can be set on the <httpRuntime> tag.
			<system.Web>
				<httpRuntime targetFramework="4.7.2" />
			</system.Web>
	-->
	<system.web>
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" fileEncoding="utf-8" culture="auto" uiCulture="auto"/>
    <webParts enableExport="true"/>
		<compilation debug="true" strict="false" explicit="true" targetFramework="4.7.2">
			<assemblies>
				<add assembly="Infragistics35.WebUI.Misc.v11.1, Version=11.1.20111.1006, Culture=neutral, PublicKeyToken=7dd5c3163f2cd0cb"/>
				<add assembly="Infragistics35.WebUI.Shared.v11.1, Version=11.1.20111.1006, Culture=neutral, PublicKeyToken=7dd5c3163f2cd0cb"/>
				<add assembly="Infragistics35.WebUI.WebDataInput.v11.1, Version=11.1.20111.1006, Culture=neutral, PublicKeyToken=7dd5c3163f2cd0cb"/>
				<add assembly="Infragistics35.WebUI.UltraWebTab.v11.1, Version=11.1.20111.1006, Culture=neutral, PublicKeyToken=7dd5c3163f2cd0cb"/>
				<add assembly="Infragistics35.WebUI.WebDateChooser.v11.1, Version=11.1.20111.1006, Culture=neutral, PublicKeyToken=7dd5c3163f2cd0cb"/>
				<add assembly="Infragistics35.WebUI.UltraWebToolbar.v11.1, Version=11.1.20111.1006, Culture=neutral, PublicKeyToken=7dd5c3163f2cd0cb"/>
				<add assembly="Infragistics35.WebUI.UltraWebNavigator.v11.1, Version=11.1.20111.1006, Culture=neutral, PublicKeyToken=7dd5c3163f2cd0cb"/>
				<add assembly="Infragistics35.WebUI.UltraWebGrid.v11.1, Version=11.1.20111.1006, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>
				<add assembly="Infragistics35.WebUI.WebCombo.v11.1, Version=11.1.20111.1006, Culture=neutral, PublicKeyToken=7dd5c3163f2cd0cb"/>
				<add assembly="Infragistics35.WebUI.WebHtmlEditor.v11.1, Version=11.1.20111.1006, Culture=neutral, PublicKeyToken=7dd5c3163f2cd0cb"/>
				<add assembly="Infragistics35.WebUI.UltraWebListbar.v11.1, Version=11.1.20111.1006, Culture=neutral, PublicKeyToken=7dd5c3163f2cd0cb"/>
				<add assembly="Infragistics35.WebUI.WebSchedule.v11.1, Version=11.1.20111.1006, Culture=neutral, PublicKeyToken=7dd5c3163f2cd0cb"/>
				<add assembly="Infragistics35.WebUI.WebNavBar.v11.1, Version=11.1.20111.1006, Culture=neutral, PublicKeyToken=7dd5c3163f2cd0cb"/>
				<add assembly="Infragistics35.WebUI.UltraWebCalcManager.v11.1, Version=11.1.20111.1006, Culture=neutral, PublicKeyToken=7dd5c3163f2cd0cb"/>
				<add assembly="Infragistics35.Web.v11.1, Version=11.1.20111.1006, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>
				<add assembly="Infragistics35.WebUI.Documents.Reports.v11.1, Version=11.1.20111.1006, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>
				<add assembly="Infragistics35.WebUI.Documents.Excel.v11.1, Version=11.1.20111.1006, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>
				<!--<add assembly="Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
				<add assembly="Microsoft.ReportViewer.Common, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>-->
				<!--<add assembly="Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>-->
				<add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="WindowsBase, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Speech, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Numerics, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="PresentationCore, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Net.Http, Version=4.2.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/></assemblies>
		</compilation>
		<authentication mode="Forms">
			<forms loginUrl="~/Pages/General/Login.aspx" name="AuthCookie" timeout="120" path="/" slidingExpiration="true" cookieless="UseDeviceProfile"/>
		</authentication>
		<authorization>
			<deny users="?"/>
			<allow users="*"/>
		</authorization>
		<identity impersonate="true"/>
		<customErrors mode="Off" defaultRedirect="ErrorPage.aspx"/>
		<sessionState mode="InProc" cookieless="false" timeout="180"/>
		<httpRuntime maxRequestLength="409600" executionTimeout="10240"/>
		<pages theme="Blue_Ar" styleSheetTheme="Blue_Ar" maintainScrollPositionOnPostBack="true" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
			<controls>
				<add assembly="OfficeWebUI" namespace="OfficeWebUI" tagPrefix="OfficeWebUI"/>
				<add assembly="OfficeWebUI" namespace="OfficeWebUI.Ribbon" tagPrefix="OfficeWebUI"/>
				<add assembly="OfficeWebUI" namespace="OfficeWebUI.Workspace" tagPrefix="OfficeWebUI"/>
				<add assembly="OfficeWebUI" namespace="OfficeWebUI.ListView" tagPrefix="OfficeWebUI"/>
			</controls>
		</pages>
		<httpHandlers>
			<add path="ajax/*.ashx" verb="POST,GET" type="Ajax.PageHandlerFactory, Ajax"/>
			<add path="WijmoControlsResource.axd" verb="*" type="C1.Web.Wijmo.Controls.WijmoHttpHandler, C1.Web.Wijmo.Controls.3, Version=3.5.20152.216, Culture=neutral, PublicKeyToken=9b75583953471eea" validate="false"/>
      <add verb="GET,HEAD" path="StiWebResource.axd" type="Stimulsoft.Report.Web.StiWebResource, Stimulsoft.Report.Web" />
		</httpHandlers>
	</system.web>
	<system.web.extensions>
		<scripting>
			<webServices>
				<jsonSerialization maxJsonLength="999999999"/>
			</webServices>
		</scripting>
	</system.web.extensions>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false"/>
		<handlers>
			<add name="WijmoControlsHttpHandler" verb="*" preCondition="integratedMode" path="WijmoControlsResource.axd" type="C1.Web.Wijmo.Controls.WijmoHttpHandler, C1.Web.Wijmo.Controls.3, Version=3.5.20152.216, Culture=neutral, PublicKeyToken=9b75583953471eea"/>
      <add name="StiWebResource" path="StiWebResource.axd" verb="GET,HEAD" type="Stimulsoft.Report.Web.StiWebResource, Stimulsoft.Report.Web" preCondition="integratedMode" />
		</handlers>
	</system.webServer>
</configuration>
