table.Role
{
    background-color: rgb(153, 153, 153);
}
div.navigation {
	padding-top: 5px; padding-bottom: 30px;min-height: 350px;  font-family: Sakkal Majalla; background-color: rgb(153, 153, 153);
}
div.navigation > ul {
	margin: 15px 0px 0px;
}
div.navigation > ul > li {
	list-style: none; width: 100%; height: 40px; text-align: right; line-height: 18px; margin-top: 2px; margin-bottom: 2px; display: inline-block;
}
div.navigation ul li a {
	cursor: pointer;
}
div.navigation > ul > li > a {
	color: white; font-size: 16px; text-decoration: none; display: block; position: relative;
}
div#back {
	top: 0px; width: 50px; height: 50px; float: left; display: none; position: relative; background-image: url("../../Common/Images/backltr.png");
}
div.navigation > ul > li > ul {
	padding: 0px; margin-top: 3px; display: none; position: absolute;
}
div.navigation > ul > li > ul > li {
	list-style: none; height: 50px; line-height: 50px; margin-right: 3px; float: left; display: block; position: relative; background-color: rgb(96, 76, 159);
}
div.navigation > ul > li > ul > li > a {
	width: 100%; height: 100%; color: white; font-size: 14px; text-decoration: none; display: block; position: relative;
}
div.navigation .color1 {
	background-color: Darkgray;list-style: none; width: 100%; height: 30px; text-align: right; line-height: 30px; margin-top: 2px; margin-bottom: 2px; display: inline-block;
}
div.navigation span {
	color: Black; font-family: "Sakkal Majalla"; font-size: 28px; font-weight: 300; margin-left: 40px; position: relative; float:right
}
.animated {
	-webkit-animation-duration: 0.4s; -moz-animation-duration: 0.4s; -o-animation-duration: 0.4s; animation-duration: 0.4s; -webkit-animation-fill-mode: both; -moz-animation-fill-mode: both; -o-animation-fill-mode: both; animation-fill-mode: both;
}
.flipIn_right {
	-webkit-animation-name: flipIn_right; -moz-animation-name: flipIn_right; -o-animation-name: flipIn_right; animation-name: flipIn_right;
}
.flipIn_left {
	-webkit-animation-name: flipIn_left; -moz-animation-name: flipIn_left; -o-animation-name: flipIn_left; animation-name: flipIn_left;
}
.flipIn_top {
	-webkit-animation-name: flipIn_top; -moz-animation-name: flipIn_top; -o-animation-name: flipIn_top; animation-name: flipIn_top;
}
.flipIn_bottom {
	-webkit-animation-name: flipIn_bottom; -moz-animation-name: flipIn_bottom; -o-animation-name: flipIn_bottom; animation-name: flipIn_bottom;
}
.flipIn_right_back {
	-webkit-animation-name: flipIn_right_back; -moz-animation-name: flipIn_right_back; -o-animation-name: flipIn_right_back; animation-name: flipIn_right_back;
}
.do {
	transform: scale(0.98); -webkit-transform: scale(0.98, 0.98);
}
